<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeraAplicacion"
        tools:targetApi="31">
        <activity
            android:name=".actualizarMobiliario"
            android:exported="false" />
        <activity
            android:name=".seleccionarMobiliario"
            android:exported="false" />
        <activity
            android:name=".see"
            android:exported="false" />
        <activity
            android:name=".eliminarMobiliario"
            android:exported="false" />
        <activity
            android:name=".insertarMobiliario"
            android:exported="false" />
        <activity
            android:name=".gestionMobiliario"
            android:exported="false" />
        <activity
            android:name=".actualizarTipoHabitacion"
            android:exported="false" />
        <activity
            android:name=".seleccionarTipoHabitacion"
            android:exported="false" />
        <activity
            android:name=".eliminarTipoHabitacion"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".insercionTipoHabitacion"
            android:exported="false" />
        <activity
            android:name=".gestionTipoHabitacion"
            android:exported="false" />
        <activity
            android:name=".actualizarUsuario"
            android:exported="false" />
        <activity
            android:name=".solicitarActualizar"
            android:exported="false" />
        <activity
            android:name=".eliminarHabitacion"
            android:exported="false" />
        <activity
            android:name=".insertarReserva"
            android:exported="false" />
        <activity
            android:name=".eliminarReserva"
            android:exported="false" />
        <activity
            android:name=".gestionReservas"
            android:exported="false" />
        <activity
            android:name=".gestionHabitacion"
            android:exported="false" />
        <activity
            android:name=".eliminarUsuarios"
            android:exported="false" />
        <activity
            android:name=".GestionUsuarios"
            android:exported="false" />
        <activity
            android:name=".usuarios"
            android:exported="false" />
        <activity
            android:name=".menuPrincipal"
            android:exported="false" />
        <activity
            android:name=".Registrarse"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>